
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-height: calc(100vh - 160px);
  overflow-y: auto;
  border-radius:10px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 38px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.food_name_modal{
	text-align: center;
	font-weight: bold;
	font-size:25px;
}

.food_desc_modal{
	padding-bottom: 20px;
}

.food_price_modal{
	padding-bottom: 20px;
}

#qtty{
	padding-bottom:20px;
}

form label{
	font-weight:bold;
}

#desc{
	font-weight:bold;
}

#prc{
	font-weight:bold;
}

input[type=number] {
  border: 2px solid black;
  border-radius: 6px;
}

textarea{
	border: 2px solid black;
	border-radius: 6px;
	resize:none;
}

input[type=number]:focus{
	outline: 1px solid skyblue;
}

textarea:focus{
	outline: 1px solid skyblue;
}

input[type=reset] {
  border: 3px solid skyblue;
  border-radius: 10px;
  font-size:15px;
  font-weight:bold;
}

input[type=submit] {
  border: 3px solid skyblue;
  border-radius: 10px;
  font-size: 15px;
  font-weight:bold;
  float:right;
}

@media screen and (min-width: 676px) {
        .modal-content {
          max-width: 600px; /* New width for default modal */
        }
    }